@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared styles */

body{
    margin: 0;
}

.inter-font{
    font-family: "Inter", sans-serif;
    font-size: 1.12vw;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .035vw;
    color: rgba(255, 255, 255, 0.5);
}

.italianno-regular{
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-size: 8.5vw;
    color: white;
}

.no-gap{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

.title-font{
    line-height: 120%;
    font-size: 3.33333vw;
    font-weight: 900;
    color: white;
}

.subtitle-font{
    line-height: 1.66667vw ;
    font-size: 1vw;
    font-weight: 400;
}

table{
    border-collapse: collapse;
}

td, th{
    border: .07vw solid rgba(255, 255, 255, 0.1);
    padding: 0.902778vw 2.86111vw 0.902778vw 1.25vw;
}

/* Header related styles */
.header{
    background: linear-gradient(180.00deg, rgb(11, 11, 11, .93), rgb(7, 7, 7, .95) 100%);
    width: 100%; 
    height: 49.7vw;
    position: relative;
}

.nav{
    position: absolute; 
    display: flex;
    justify-content: space-between;
    top: 4.0625vw;
    left: 13.1944vw;
    width: 73.6111vw; 
    height: 3.19444vw; 
}

.nav-title{
    color: rgb(230, 83, 60);
    font-size: 2.5vw;
    font-weight: 800;
    font-style: italic;
}

.nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.19444vw;
    width: 32.2917vw;
    border: 0.0694444vw solid rgba(255, 255, 255, 0.1);
    border-radius: 2.70833vw;
    color: white;
    font-size: 1.25vw;
    font-weight: 400;
    padding-right: 1.38889vw;
    padding-left: .3vw;
}

.nav-btn{
    border-radius: 3.19444vw;
    border: none;
    background: rgb(230, 83, 60);
    font-size: 1.25vw;
    font-weight: 600;
    color: white;
    padding: 0.555556vw 1.38889vw;
}

.banner{
    position: absolute; 
    top: 13.82vw;
    left: 13.2vw;
    width: 37vw; 
    height: 30.56vw;  
}

.banner-d1{
    font-size: 5.3vw;
    font-weight: 900;
    display: inline;
    color: white;
}

.banner-d2{
    margin-top: 1.95vw;
    margin-bottom: 1.95vw;
}

.banner-btn{
    display: flex;
    justify-content: space-between;
    width: 32.1vw;
    height: 3.75vw;
}

.banner-btn-1{
    border-radius: 2.92vw;
    border: none;
    background: rgb(230, 83, 60);
    font-size: 1.25vw;
    font-weight: 600;
    color: white;
    padding: 1.11vw 2.78vw;
}

.banner-btn-2{
    border-radius: 2.92vw;
    border: .07vw solid white;
    background: black;
    font-size: 1.25vw;
    font-weight: 600;
    color: white;
    padding: 1.11vw 2.78vw ;
}

.banner-img{
    position: absolute; 
    top: 9.375vw;
    left: 60.9028vw;
    width: 24.2361vw; 
    height: 40.2778vw; 
}

.header-temp-1{
    position: absolute; 
    top: 18.0556vw;
    left: 76.875vw;
    width: 13.4028vw; 
    height: 6.80556vw;
    background: rgba(255, 255, 255, 0.1);
    border: 0.0694444vw solid rgba(255, 255, 255, 0.1);
    border-radius: 0.833333vw;
}

.header-temp-11{
    margin: 1.1vw 1.3vw;
}

.header-temp-1 .text1{
    color: white; 
    font-weight: 900; 
    font-size: 2.77778vw;
}

.header-temp-1 .text2{
    font-size: 0.902778vw;
}

.header-temp-2{
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 38.6111vw;
    left: 53.0556vw;
    width: 14.3056vw; 
    height: 6.66667vw;
    background: rgba(255, 255, 255, 0.1);
    border: 0.0694444vw solid rgba(255, 255, 255, 0.1);
    border-radius: 0.833333vw;
}

.header-temp-2 .text1{
    color: white; 
    font-weight: 900; 
    font-size: 1.66667vw;
}

.header-temp-2 .text2{
    font-size: 1.11111vw;
}

.header-circle{
    width: 2.77778vw ;             
    height: 2.77778vw ;            
    background: rgb(230, 83, 60); 
    border-radius: 50%;   
}

/* Habit section related styles */
.habit{
    margin-top: 6.94444vw;
    margin-left: 13.75vw;
    margin-right: 13.75vw;
    height: 34.3889vw;
}

.habit-title{
    margin-left:  18.7222vw;
    margin-right:  16.7222vw;
}

.habit-subtitle{
    margin: 1.5vw 12.9167vw 4.02778vw 12.9167vw;
    text-align: center;
}

.habit-cards{
    display: flex;
    justify-content: space-around;
}

.habit-card{
    width: 13.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7vw;
}

.habit-img{
    height: 12.5vw;
    border: 0.308333vw  solid rgba(34, 34, 34);
    border-radius: 50%;
}

.habit-card-title{
    font-size: 1.25vw;
    font-weight: 600;
    color: white;
    margin-top: 1vw;
}

/* join section related style */
.join{
    margin: 6.94444vw 13.1944vw;
    height: 26vw;
    border-radius: 1.25vw;
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.join-banner{
    height: 20.1389vw;
    width: 30.7639vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.join-btn{
    width: 15.5556vw;
    height: 3.75vw;
    padding: 0;
}

.join-img{
    width: 25.4167vw;
    height: 21.6667vw;
    border-radius: 1.25vw;
}

.join-img-1{
    display: none;
}

/* bmi section related styles */
.bmi-text{
    margin: 0vw 26.6667vw 6.11111vw 26.6667vw;
    display: flex;
    flex-direction: column;
    gap: 1.1vw;
}

.bmi{
    margin: 0 0 6.2vw 0;
    background: rgb(34, 34, 34);
    height: 34vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bmi-chart{
    margin-bottom: 3vw;
}

.bmi-title-font{
    font-weight: 900;
    color: white;
    font-size: 1.94444vw;
    margin-bottom: 3.6vw;
}

.bmi-calc{
    height: 27vw;
    width: 41vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bmi-form{
    display: flex; 
    flex-direction: column; 
    gap: 2.36111vw;
}

.bmi-calc-grid{
    display: grid;
    grid-template-columns: repeat(2, 19.7vw);
    grid-template-rows: repeat(3, 3.33vw);
    gap: 0.833333vw;
}

.box{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.56vw;
    border: none;
    padding: 0.833333vw 2.77778vw 0.833333vw 1.38889vw;
    display: flex;
    justify-content: space-around;
}

.box-1{
    grid-column: span 2;
}

.bmi-calc-font{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    font-size: 1.12vw;
}

.bmi-calc-font option {
    background-color: black;
}

.bmi-calc-grid input::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    font-size: 1.12vw;
}
  
@media screen and (max-width: 700px){
    /* shared styles */
    .nav-link{
        display: none;
    }

    .italianno-regular{
        font-size: 13.5vw;
    }

    .inter-font{
        font-size: 4.07125vw;
        letter-spacing: 0.127226vw;
    }

    .title-font{
        font-size: 8.14249vw;
    }
    
    .subtitle-font{
        font-size: 3.3vw;
        font-weight: 350;
        line-height: 6.10687vw;
    }

    /* Header related styles */
    .header{
        height: 264.56vw;
    }

    .nav{
        position: absolute;
        top: 13.2316vw;
        left: 5.08906vw;
        width: 89.8219vw;
        height: 10.9415vw;
    }

    .nav-title{
        color: rgb(230, 83, 60);
        font-size: 9.16031vw;
        font-weight: 800;
        font-style: italic;
    }

    .nav-link1{
        position: absolute;
        top: 2.4173vw;
        left: 76.715vw;
        width: 6.10687vw;
        height: 6.10687vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .strip{
        width: 100%;
        height: .9vw;
        background-color: white;
        border-radius: 2vw;
    }

    .banner{
        position: absolute; 
        top: 37.1501vw;
        left: 5.08906vw;
        width: 89.5674vw;
        height: 85.2417vw;  
    }

    .banner-d1{
        width: 59.7964vw;
        height: 32.8244vw;
        margin-block-start: 0vw;
        font-size: 9.16031vw;
        font-weight: 900;
        display: block;
        color: white;
    }

    .banner-d2{
        width: 69.7201vw;
        height: 24.4275vw;
    }

    .banner-btn{
        display: flex;
        justify-content: space-between;
        width: 86vw;
        height: 13.7405vw;
    }

    .banner-btn-1{
        border-radius: 10.687vw;
        border: none;
        background: rgb(230, 83, 60);
        font-size: 4.58015vw;
        font-weight: 600;
        color: white;
        width: 41.0025vw;
    }

    .banner-btn-2{
        border-radius: 10.687vw;
        border: 0.256489vw solid white;
        background: black;
        font-size: 4.58015vw;
        font-weight: 600;
        color: white;
        width: 41.0025vw;
    }

    .temp{
        display: none;
    }

    .banner-img{
        position: absolute; 
        top: 134.606vw;
        left: 5.08906vw;
        width: 82.8219vw;
        height: 129.066vw;
        
    }

    .header-temp-1{
        position: absolute; 
        top: 146.718vw;
        left: 54.5038vw;
        width: 34.8957vw;;
        height: 18.8295vw;
        background: rgba(255, 255, 255, 0.1);
        border: 0.0694444vw solid rgba(255, 255, 255, 0.1);
        border-radius: 2.29008vw;
    }

    .header-temp-11{
        margin: 2.5vw 3vw;
    }
    
    .header-temp-1 .text1{
        color: white; 
        font-weight: 900; 
        font-size: 7.63359vw;
    }
    
    .header-temp-1 .text2{
        font-size: 2.49364vw;
    }

    .header-temp-2{
        position: absolute; 
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: 203.562vw;
        left: 5.05344vw;
        width: 39.1857vw;
        height: 18.5751vw;
        background: rgba(255, 255, 255, 0.1);
        border: 0.0694444vw solid rgba(255, 255, 255, 0.1);
        border-radius: 2.29008vw;
    }

    .header-temp-2 .text1{
        color: white; 
        font-weight: 900; 
        font-size: 4.58015vw;
    }
    
    .header-temp-2 .text2{
        font-size: 3.05344vw;
    }

    .header-circle{
        width: 7.63359vw;            
        height: 7.63359vw;         
        background: rgb(230, 83, 60); 
        border-radius: 50%;   
    }

    /* Habit section related styles */
    .habit{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-left: 7.1vw;
        margin-right: 7.1vw;
        height: 368vw;
    }

    .habit-title{
        margin-left:  0;
        margin-right:  0;
    }

    .habit-subtitle{
        margin: 3.56234vw 2.79898vw 14.7583vw 2.79898vw;
    }

    .habit-cards{
        flex-direction: column;
        gap: 10.2vw;
    }

    .habit-card{
        width: 58.7786vw;
        gap: 2vw;
    }

    .habit-img{
        height: 45vw;
        width: 45vw;
        border: 1.13vw  solid rgba(34, 34, 34);
    }

    .habit-card-title{
        font-size: 4.58015vw;
        margin-top: 3.66412vw;
    }

    /* join section related style */
    .join{
        margin: 16.7939vw 4.5vw;
        height: 137vw;
        border-radius: 4.58015vw ;
        flex-direction: column;
    }

    .join-banner{
        height: 67.1756vw ;
        width: 73.028vw;
    }

    .join-btn{
        width: 73.028vw;
        height: 13.7405vw;
    }

    .join-img{
        display: none;
    }

    .join-img-1{
        display: block;
        width: 73.028vw;
        height: 43.257vw;
        border-radius: 4.58015vw;
    }

    /* bmi section related styles */
    .bmi-text{
        margin: 17.8117vw 10vw 11.7048vw 7.37913vw;
        gap: 4.03053vw;
    }

    .bmi{
        margin: 0 0 16.7939vw 0;
        height: 160vw;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5.08906vw;
    }

    .bmi-chart{
        margin-bottom: 0;
    }

    .bmi-title-font{
        font-size: 4.07125vw;
        margin-bottom: 3.56234vw;
    }

    .bmi-calc{
        height: 101vw;
        width: 91vw;
    }

    .bmi-form{
        display: flex; 
        flex-direction: column; 
        gap: 8.6514vw;
    }

    .bmi-calc-grid{
        display: grid;
        grid-template-columns: repeat(2, 43.5115vw);
        grid-template-rows: repeat(3, 12.2137vw );
        gap: 3.05344vw ;
    }

    .box{
        background: rgba(255, 255, 255, 0.1);
        border-radius: 2.03562vw; 
        border: none;
        padding: 3.05344vw 10.1781vw 3.05344vw 5.08906vw;
        display: flex;
        justify-content: space-around;
    }

    .box-1{
        grid-column: span 2;
    }

    .bmi-calc-font{
        color: rgba(255, 255, 255, 0.6);
        font-weight: 300;
        font-size: 4.07125vw;
    }

    .bmi-calc-font option {
        background-color: black;
    }

    .bmi-calc-grid input::placeholder{
        color: rgba(255, 255, 255, 0.6);
        font-weight: 300;
        font-size: 4.07125vw;
    }

    .bmi-btn{
        width: 56.9975vw;
    }
}



  